<div class="page">
  <app-quran-aria
    [width]="quranAriaWidth"
    [quranAriaWidthSubject]="quranAriaWidthSubject"
    [showBigSurah]="showBig"
    [showSmallSurah]="showSmall"
  ></app-quran-aria>
  <div class="sidebar">
    <div class="icon-container">
      <fa-icon class="toggle-icon" *ngIf="!isSideBarOpen" [icon]="openIcon" (click)="toggleSideBar()"></fa-icon>
      <fa-icon class="toggle-icon" *ngIf="isSideBarOpen"[icon]="closeIcon" (click)="toggleSideBar()"></fa-icon>
    </div>
    <div class="surah_list" *ngIf="isSideBarOpen">
      <div class="title">
        <p class="list_title">السور الكبيرة</p>
        <fa-icon class="check-icon" *ngIf="!showBigSurah" [icon]="faCircle" (click)="toggleShowBig()"></fa-icon>
        <fa-icon class="check-icon" *ngIf="showBigSurah"[icon]="faCircleCheck" (click)="toggleShowBig()"></fa-icon>
      </div>
      <ul class="list" *ngIf="showBigSurah">
        <li class="item" *ngFor="let surah of quranIndex.slice(0,57)">
          {{surah.name}}
        </li>
      </ul>
    </div>
    <div class="surah_list" *ngIf="isSideBarOpen">
      <div class="title">
        <p class="list_title">السور الصغيرة</p>
        <fa-icon class="check-icon" *ngIf="!showSmallSurah" [icon]="faCircle" (click)="toggleShowSmall()"></fa-icon>
        <fa-icon class="check-icon" *ngIf="showSmallSurah"[icon]="faCircleCheck" (click)="toggleShowSmall()"></fa-icon>      </div>
      <ul class="list" *ngIf="showSmallSurah">
        <li class="item" *ngFor="let surah of quranIndex.slice(57,114)">
          {{surah.name}}
        </li>
      </ul>
    </div>
  </div>
</div>
