.page {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
  min-height: 100%;

  .hidden_element {
    height: 100vh;
  }
}

// mobile
@media (max-width: 426px) {
  .page {
    .hidden_element {
      height: 165vh;
    }
  }
}
