<div class="side_bar" *ngIf="currentUrl != '/visit_reminder'">
  <div class="icons_container">
    <div class="container" *ngIf="currentUrl != '/'"  [routerLink]="['/']">
      <fa-icon class="icon"
        [icon]="faHome"
        [title]="'الصفحة الرئيسية'"
      ></fa-icon>
      <p>{{'main' | translate}}</p>
    </div>
    <div class="container" *ngIf="isQuranPages(currentUrl) || isListeningPage(currentUrl)" [routerLink]="['/surah',getBackSurahId()]">
      <fa-icon class="icon"
        [icon]="faArrowTurnRight"
        [title]="'عد إلى صفحة الصورة'"
      ></fa-icon>
      <p>{{'the_surah' | translate}}</p>
    </div>
    <div class="container" *ngIf="currentUrl == '/'" (click)="toggleShowSurahList()">
      <fa-icon class="icon"
        [icon]="faBars"
        [title]="'عرض قائمةالسور'"
        [class.active]="showSurahList"
      ></fa-icon>
      <p>{{showSurahList ? "خارطة السور": "قائمة السور"}}</p>
    </div>
    <div class="container mobile" *ngIf="isQuranPages(currentUrl)" (click)="showAddMarkPopup()">
      <fa-icon class="icon"
        [icon]="faBookmark"
      ></fa-icon>
      <p>علامة</p>
    </div>
    <div class="container mobile" *ngIf="isQuranPages(currentUrl)" (click)="showSearchPopup()">
      <fa-icon class="icon"
        [icon]="faSearch"
      ></fa-icon>
      <p>البحث</p>
    </div>
    <div class="container desktop" *ngIf="isQuranPages(currentUrl)" (click)="addMarkHer()">
      <fa-icon class="icon"
        [icon]="faBookmark"
        [title]="'ضع علامة هنا'"
      ></fa-icon>
      <p>وضع علامة</p>
    </div>
    <div class="container desktop" *ngIf="isQuranPages(currentUrl)" (click)="goToMark()">
      <fa-icon class="icon"
        [icon]="pointer"
        [title]="'إذهب إلى العلامة'"
      ></fa-icon>
      <p>الذهاب للعلامة</p>
    </div>
    <div class="container" *ngIf="!isQuranPages(currentUrl)" [routerLink]="['/quran_pages', getFloor(lastReadPage)]">
      <fa-icon class="icon"
        [icon]="faBookOpenReader"
        [title]="lastReadPage ? ' أكمل القراءة من الصفحة ' + lastReadPage: 'ابدأ القراءة '"
      ></fa-icon>
      <p>القراءة</p>
    </div>
    <div class="container" *ngIf="!isListeningPage(currentUrl)" [routerLink]="['/surah_listening',listeningData.readerId ,listeningData.surahId]">
      <fa-icon class="icon"
        [icon]="faHeadphonesSimple"
        [title]="firstListeningTime ? 'إبدأ الاستماع الأن' :'أكمل الاستماع من سورة' + ' ' + quranIndex[listeningData.surahId - 1].name"
      ></fa-icon>
      <p>الإستماع</p>
    </div>
    <div class="container">
      <fa-icon class="icon"
        [icon]="faFeatherPointed"
        [title]="firstListeningTime ? 'إبدأ تعلم التفسير الأن' :'أكمل تعلم التفسير من سورة' + ' ' + quranIndex[listeningData.surahId - 1].name"
      ></fa-icon>
      <p>التفسير</p>
    </div>
    <div class="container"
      *ngIf="isQuranPages(currentUrl) && doneReadingList.length > 0 || isListeningPage(currentUrl) && doneListeningList.length > 0"
      (click)="toggleSaveProgressPopup()"
    >
      <fa-icon class="icon"
        [icon]="faFloppyDisk"
        [title]="isQuranPages(currentUrl) ? 'أكد السور التي قراتها' : 'أكد السور التي استمعت لها'"
      ></fa-icon>
      <span class="done_counter">{{isQuranPages(currentUrl)? doneReadingList.length : doneListeningList.length}}</span>
      <p>تأكيد الاإستماع</p>
    </div>
  </div>
</div>

<div class="over_layout"
  *ngIf="showSavePopup && (isQuranPages(currentUrl) && doneReadingList.length > 0 || isListeningPage(currentUrl) && doneListeningList.length > 0)"
  (click)="toggleSaveProgressPopup()">
</div>

<div class="save_progress_popup"
  *ngIf="showSavePopup && (isQuranPages(currentUrl) && doneReadingList.length > 0 || isListeningPage(currentUrl) && doneListeningList.length > 0)">
  <fa-icon class="close"
    [icon]="faXmark"
    (click)="toggleSaveProgressPopup()"
  ></fa-icon>
  <h2>{{isQuranPages(currentUrl) ? 'قم بتأكيد السور التي اتممت قراتها': 'قم بتأكيد السور الي قمت بالاستماع لها'}}</h2>
  <div class="surah_list" *ngIf="isQuranPages(currentUrl)">
    <div class="item" *ngFor="let surahId of doneReadingList">
      {{quranIndex[surahId -1].name}}
    </div>
  </div>

  <div class="surah_list" *ngIf="isListeningPage(currentUrl)">
    <div class="item" *ngFor="let surahId of doneListeningList">
      {{quranIndex[surahId -1].name}}
      <fa-icon class="delete"
        [icon]="faEraser"
        (click)="removeFromDoneListeningList(surahId)"
        title="حذف"
      ></fa-icon>
    </div>
  </div>
  <div class="button_container">
    <button (click)="doneListeningAllList()">
      <p>تأكيد</p>
    </button>
  </div>
</div>

<div class="over_layout" *ngIf="showMark"
  (click)="showAddMarkPopup()">
</div>

<div class="mark_popup" *ngIf="showMark">
  <fa-icon class="close"
    [icon]="faXmark"
    (click)="showAddMarkPopup()"
  ></fa-icon>
  <div class="container" *ngIf="isQuranPages(currentUrl)" (click)="addMarkHer(); showAddMarkPopup();">
    <fa-icon class="icon"
      [icon]="faBookmark"
      [title]="'ضع علامة هنا'"
    ></fa-icon>
    <p>وضع علامة</p>
  </div>
  <div class="container" *ngIf="isQuranPages(currentUrl)" (click)="goToMark(); showAddMarkPopup();">
    <fa-icon class="icon"
      [icon]="pointer"
      [title]="'إذهب إلى العلامة'"
    ></fa-icon>
    <p>الذهاب للعلامة</p>
  </div>
</div>
