.side_bar {
  position: fixed;
  z-index: 1000;
  background-color: white;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
  border-radius: 25px;

  .icon_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    min-height: 25px;
    width: 25px;

    .icon {
      font-size: 20px;
      color: black;
      cursor: pointer;

      &:hover {
        opacity: 80%;
      }

      &.active {
        color: rgb(210, 145, 41);
      }
    }
  }
}
