@import '../../styles.scss';

.surah_text_container {
  max-width: 750px;
  margin: auto;
  position: relative;

  .back_button,
  .home_button,
  .go_to_mark_button,
  .book_mark_button {
    position: fixed;
    color: $color4;
    font-size: 50px;
    cursor: pointer;

    &:hover {
      opacity: 90%;
    }
  }

  .back_button {
    left: 50px;
    top: 50px;
  }

  .home_button {
    left: 50px;
    top: 200px;
  }

  .go_to_mark_button {
    right: 50px;
    top: 50px;
  }

  .book_mark_button {
    right: 50px;
    top: 200px;
  }

  .title {
    color: $color4;
    text-align: center;
    font-size: 50px;
    position: relative;
  }

  .title::before {
    content: "";
    position: absolute;
    top: -14px;
    left: 0;
    right: 0;
    height: 92px;
    background-image: url('../../assets/image/surah_head.png');
    background-size: 754px 91px;
    z-index: -1;
  }

  .basmala {
    color: $color4;
    text-align: center;
    font-size: 40px;
  }

  .text {
    color: $color4;
    font-size: 40px;
    text-align: justify;
    line-height: 60px;
    text-align-last: end;
  }

  .control_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

    .last_surah ,.next_surah {
      font-size: 50px;
      cursor: pointer;
      color: $color4;

      &:hover {
        opacity: 90%;
      }
    }

    .done_reading {
      cursor: pointer;
      margin-left: 20px;
      padding: 10px 20px;
      border-radius: 10px;
      font-size: 30px;

      &:hover {
        opacity: 90%;
      }
    }
  }
}
