  <div class="surah_container">
    <div class="suarh_aria bigView" *ngIf="this.showBig && !this.showList">
      <div class="surah" *ngFor="let surah of quranIndex" title="{{surah.name}}"
          style="
            width: {{surah.width}}px;
            height: {{surah.width}}px;
            font-size: {{surah.width / (7/2)}}px;
            top: {{surah.y}}px;
            left: {{surah.x}}px;
            background: radial-gradient(circle at center, rgb({{surah.light * 5/2}},{{surah.light * 5/2}},{{surah.light * 5/2}}) 0%, black 80%);
            box-shadow: 0 0 {{surah.light < 40 ? 0 : surah.light / 5}}px 0px white;
          "
          [routerLink]="['/surah', surah.id]"
          >
        <p class="name">{{surah.name}}</p>
      </div>
    </div>
    <div class="suarh_aria smallView" *ngIf="!this.showBig && !this.showList">
      <div class="surah" *ngFor="let surah of smallQuranIndex"
          style="
            width: {{surah.width}}px;
            height: {{surah.width}}px;
            font-size: {{surah.width / (7/2)}}px;
            top: {{surah.y}}px;
            left: {{surah.x}}px;
            background: radial-gradient(circle at center, rgb({{surah.light * 5/2}},{{surah.light * 5/2}},{{surah.light * 5/2}}) 0%, black 80%);
            box-shadow: 0 0 {{surah.light < 40 ? 0 : surah.light / 5}}px 0px white;
          "
          [routerLink]="['/surah', surah.id]"
          >
        <p class="name">{{surah.name}}</p>
      </div>
    </div>
    <div class="list_container">
      <div class="quran_list" *ngIf="this.showList">
        <div class="surah" *ngFor="let surah of quranIndex.slice(0, 57)" [routerLink]="['/surah', surah.id]">
          <div class="text">
            <span class="name" [routerLink]="['/surah', surah.id]">{{surah.name}}</span>
            <span class="number" [routerLink]="['/surah', surah.id]">-{{surah.id}}</span>
          </div>
          <div class="control">
            <fa-icon class="icon read"
              [icon]="faBookOpenReader"
              [title]="'إقرأ الأن'"
              [routerLink]="['/quran_pages', surah.page]">
            </fa-icon>
            <fa-icon class="icon listen"
              [icon]="faHeadphonesSimple"
              [title]="'إستمع الأن'"
              [routerLink]="['/surah_listening', readerId ,surah.id]">
            </fa-icon>
          </div>
        </div>
      </div>
      <div class="quran_list" *ngIf="this.showList">
        <div class="surah" *ngFor="let surah of quranIndex.slice(57, 114)">
          <div class="text">
            <span class="name" [routerLink]="['/surah', surah.id]">{{surah.name}}</span>
            <span class="number" [routerLink]="['/surah', surah.id]">-{{surah.id}}</span>
          </div>
          <div class="control">
            <fa-icon class="icon read"
              [icon]="faBookOpenReader"
              [title]="'إقرأ الأن'"
              [routerLink]="['/quran_pages', surah.page]">
            </fa-icon>
            <fa-icon class="icon listen"
              [icon]="faHeadphonesSimple"
              [title]="'إستمع الأن'"
              [routerLink]="['/surah_listening', readerId ,surah.id]">
            </fa-icon>
          </div>
        </div>
      </div>
    </div>
  </div>
