@import '../../../styles.scss';

.surah_container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px auto 20px;

  .suarh_aria {
    width: fit-content;
    position: relative;

    .surah {
      cursor: pointer;
      transition: all 1s;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 2px solid $gold3;
      border-radius: 50%;
      color: $color1;
      font-weight: 700;
      background: radial-gradient(circle at center, $color4 0%, $color1 0%);
      box-shadow: 0 0 0px 0px $color4;

      &:hover {
        background: radial-gradient(circle at center, $color4 0%, $color1 80%) !important;
        box-shadow: 0 0 20px 0px $color4 !important;
      }

      .name {
        transition: all 1s;
        text-shadow: 0 0 0px $color1;
        color: $color4;
      }
    }
  }

  .list_container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    gap: 150px;
    width: 100vw;

    .quran_list {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 10px;

      .surah {
        transition: all 1s;
        cursor: pointer;
        border: 1px solid $color4;
        background-color: $color2;
        border-radius: 10px;
        width: 300px;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        height: 30px;
        border: solid 0.5px transparent;
        background-image: linear-gradient($color2, $color2), linear-gradient( 70deg, $color2, $gold3);
        background-origin: border-box;
        background-clip: content-box, border-box;
        padding: 0.5px;
        height: 45px;

        &:hover {
          background-image: linear-gradient($color2, $color2), linear-gradient( 70deg, $gold3, $gold1);
        }

        .text {
          display: flex;
          flex-direction: row;
          gap: 5px;
          justify-content: right;
          padding: 0 5px;

          .name, .number {
            color: $color4;
            margin: 0;
            font-size: 20px;
            font-weight: bold;
            text-align: right;
            text-wrap: nowrap;
            cursor: pointer;
          }

          .number {
            margin-left: 10px;
          }

          &:hover {
            opacity: 80%;
          }
        }

        .control {
          .icon {
            color: $color4;
            font-size: 20px;
            cursor: pointer;
            margin-left: 10px;

            &:hover {
              opacity: 80%;
            }
          }

          .read {
            color: $gold3;
          }

          .listen {
            color: $gold2;
          }
        }
      }
    }
  }
}
