  <div class="surah_container">
    <div class="suarh_aria bigView" *ngIf="this.showBig">
      <div class="surah" *ngFor="let surah of quranIndex.slice(0,end)"
          style="
            width: {{surah.width}}px;
            height: {{surah.width}}px;
            font-size: {{surah.width / (7/2)}}px;
            top: {{surah.y}}px;
            left: {{surah.x}}px;
            background: radial-gradient(circle at center, rgb({{surah.light * 5/2}},{{surah.light * 5/2}},{{surah.light * 5/2}}) 0%, black 80%);
            box-shadow: 0 0 {{surah.light < 40 ? 0 : surah.light / 5}}px 0px white;
          "
          [routerLink]="['/surah', surah.id]"
          >
        <p class="name">{{surah.name}}</p>
      </div>
    </div>
    <div class="suarh_aria smallView" *ngIf="this.showSmall && !this.showBig">
      <div class="surah" *ngFor="let surah of smallQuranIndex"
          style="
            width: {{surah.width}}px;
            height: {{surah.width}}px;
            font-size: {{surah.width / (7/2)}}px;
            top: {{surah.y}}px;
            left: {{surah.x}}px;
            background: radial-gradient(circle at center, rgb({{surah.light * 5/2}},{{surah.light * 5/2}},{{surah.light * 5/2}}) 0%, black 80%);
            box-shadow: 0 0 {{surah.light < 40 ? 0 : surah.light / 5}}px 0px white;
          "
          [routerLink]="['/surah', surah.id]"
          >
        <p class="name">{{surah.name}}</p>
      </div>
    </div>
  </div>
