<div class="listening_container">
  <div class="file_type_button" (click)="toggleIsVideo()">
    <fa-icon class="icon"
      [icon]="faFileAudio"
      [class.active]="!isVideo"
    ></fa-icon>
    <fa-icon class="icon"
      [icon]="faFileVideo"
      [class.active]="isVideo"
    ></fa-icon>
  </div>
  <div class="video-container" *ngIf="isVideo">
    <div class="video_player">
      <script src="https://www.youtube.com/iframe_api"></script>
      <youtube-player #youTubePlayer
        [videoId]="readers[readerId - 1].quran[surahId - 1].link_id"
        [width]="videoWidth"
        [height]="videoHeight"
      ></youtube-player>
    </div>
    <div *ngIf="isVideo" class="control_button">
      <fa-icon class="icon"
        [icon]="playPauseIcon"
        (click)="togglePlayPause()"
      ></fa-icon>
      <fa-icon class="icon"
        [icon]="faStop"
        (click)="stopVideo()"
      ></fa-icon>
    </div>
  </div>
  <div class="mp3_container" *ngIf="!isVideo">
    <div class="audio_container">
      <audio #mp3Player controls [mp3]="readers[readerId - 1].quran[surahId - 1].mp3_link" [surahId]="surahId" (ended)="doneListening()" (pause)="mp3Paused()" (playing)="mp3Played()">
      <source type="audio/mp3">
      Your browser does not support the audio element.
      </audio>
    </div>
  </div>
  <div *ngIf="!isVideo" class="control_button">
    <fa-icon class="icon"
      [icon]="playPauseIcon"
      (click)="togglePlayPauseAudio()"
    ></fa-icon>
    <fa-icon class="icon"
      [icon]="faStop"
      (click)="stopMp3()"
    ></fa-icon>
  </div>
  <div class="change_surah_control">
    <fa-icon class="next_surah"
      *ngIf="surahId < readers[readerId - 1].quran.length - 1"
      [icon]="faAnglesLeft"
      [title]="readers[readerId - 1].quran[surahId].name"
      [routerLink]="['/surah_listening', readerId ,surahId + 1]"
      (click)="resetVideo()"
    ></fa-icon>
    <p class="surah_name">
      سورة
      <span class="option" (click)="toggleShowList()">{{readers[readerId - 1].quran[surahId - 1].name}}</span>
      بصوت: {{readers[readerId - 1].reader_name}}
    </p>
    <fa-icon class="last_surah"
      *ngIf="surahId > 1"
      [icon]="faAnglesRight"
      [title]="readers[readerId - 1].quran[surahId - 2].name"
      [routerLink]="['/surah_listening', readerId, surahId - 1]"
      (click)="resetVideo()"
    ></fa-icon>
    <div class="surah_list" *ngIf="showList">
      <div *ngFor="let surah of quranIndexFiltered">
        <input *ngIf="surah == 'filter'" type="text" name="filter" [(ngModel)]="surahFilter" (input)="filterSurah()">
        <p *ngIf="surah != 'filter'" class="list_item" (click)="changeSurah(surah.id)">{{surah.name}}</p>
      </div>
    </div>
  </div>
  <div class="reader-list">
    <div class="options_control">
      <div class="option" (click)="autoPlayToggle()">
        {{autoPlay ? 'إيقاف التشغيل التلقائي' :'تفعيل التشغيل التلقائي' }}
      </div>
    </div>
    <div
      class="reader"
      *ngFor="let reader of readers"
      [ngClass]="{'active': readerId == reader.reader_id}"
      [routerLink]="['/surah_listening', reader.reader_id, surahId]"
      (click)="resetVideo()"
    ><p>{{reader.reader_name}}</p></div>
  </div>
</div>
