.listening_container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 20px 70px;
  box-sizing: border-box;

  .reader-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .reader {
      cursor: pointer;
      font-size: 20px;
      color: white;
      padding: 5px 10px;
      border: solid 0.5px white;
      border-radius: 5px;
      margin: 20px;

      &:hover {
        opacity: 70%;
      }
    }
  }

  .video_player {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .control_button {
    display: flex;
    justify-content: center;
    align-items: center;

    .buttons {
      background-color: black;
      font-size: 20px;
      color: white;
      padding: 10px 20px;
      border: solid 0.5px white;
      border-radius: 5px;
      margin: 20px;

      &:hover {
        opacity: 70%;
      }
    }
  }
}
