@import '../../styles.scss';

.listening_container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 20px 70px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .reader-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;

    .reader {
      cursor: pointer;
      font-size: 20px;
      color: $color4;
      padding: 5px 10px;
      border-radius: 5px;
      margin: 20px;
      border: solid 0.5px transparent;
      background-image: linear-gradient($color2, $color3), linear-gradient(290deg, $gold2, $gold3);
      background-origin: border-box;
      background-clip: content-box, border-box;
      padding: 0.5px;

      p {
        margin: 0;
        padding: 5px 10px;
      }

      &:hover {
        background-image: linear-gradient($color2, $color3), linear-gradient(150deg, $gold1, $gold3);
        box-shadow: 0 0 5px $gold1;
      }
    }

    .reader.active {
      box-shadow: 0 0 20px $gold1;
    }
  }

  .video_player {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .control_button {
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      font-size: 30px;
      margin: 10px;
      color: $color4;
      cursor: pointer;

      &:hover {
        opacity: 70%;
      }
    }
  }

  .change_surah_control {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    margin: auto;

    .next_surah,
    .last_surah {
      font-size: 30px;
      cursor: pointer;
      color: $color4;

      &:hover {
        opacity: 70%;
      }
    }

    .surah_name {
      color: $color4;
      font-size: 30px;
      width: 400px;
      text-align: center;
    }
  }
}
