@import '../../styles.scss';

.listening_container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 20px 70px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: start;

  .file_type_button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  10px auto 20px;
    background-color: $color1;
    border: 1px solid $gold3;
    border-radius: 40%;
    overflow: hidden;

    .icon {
      color: $color3;
      font-size: 30px;
      cursor: pointer;
      padding: 10px;
      border-radius: 20%;
      width: 30px;
      height: 30px;
      display: flex;
      align-items: center;
      justify-content: center;

      &.active {
        color: $color1;
        background-image: linear-gradient(290deg, $gold1, $gold3), linear-gradient(290deg, $gold1, $gold3);
        background-origin: border-box;
        background-clip: content-box, border-box;
      }
    }
  }

  .reader-list {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row-reverse;

    .reader {
      cursor: pointer;
      font-size: 20px;
      color: $color4;
      padding: 5px 10px;
      border-radius: 5px;
      margin: 20px;
      border: solid 0.5px transparent;
      background-image: linear-gradient($color2, $color3), linear-gradient(290deg, $gold2, $gold3);
      background-origin: border-box;
      background-clip: content-box, border-box;
      padding: 0.5px;
      min-width: 178px;
      text-align: right;

      p {
        margin: 0;
        padding: 5px 10px;
      }

      &:hover {
        background-image: linear-gradient($color2, $color3), linear-gradient(150deg, $gold1, $gold3);
        box-shadow: 0 0 5px $gold1;
      }
    }

    .reader.active {
      box-shadow: 0 0 20px $gold1;
    }
  }

  .video_player {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  }

  .mp3_container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;

    .audio_container {
      audio {
        width: 700px;
      }
    }
  }

  .options_control {
    width: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 50px;
    box-sizing: border-box;

    .option {
      background-color: $color3;
      border: 1px solid $color4;
      color: $color4;
      padding: 10px 20px;
      font-size: 18px;
      border-radius: 20px;
      cursor: pointer;

      &:hover {
        opacity: 80%;
      }
    }
  }

  .control_button {
    display: flex;
    justify-content: center;
    align-items: center;

    .icon {
      font-size: 30px;
      margin: 10px;
      color: $color4;
      cursor: pointer;

      &:hover {
        opacity: 70%;
      }
    }
  }

  .change_surah_control {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 600px;
    margin: 20px auto;
    position: relative;

    .next_surah,
    .last_surah {
      font-size: 30px;
      cursor: pointer;
      color: $color4;

      &:hover {
        opacity: 70%;
      }
    }

    .surah_name {
      color: $color4;
      font-size: 30px;
      width: 400px;
      text-align: center;

      .option {
        color: $gold3;
        cursor: pointer;

        &:hover {
          color: $gold2;
        }
      }
    }
  }

  .surah_list {
    position: absolute;
    width: 150px;
    height: 300px;
    overflow-y: scroll;
    margin: 0 auto;
    background-color: $color1;
    z-index: 100;
    top: 65%;
    border-radius: 20px;

    .list_item {
      color: #efefef;
      text-align: right;
      font-size: 20px;
      margin: 10px;
      cursor: pointer;

      &:hover {
        opacity: 80%;
      }
    }
  }
}

// mobile
@media (max-width: 426px) {
  .listening_container {
    padding: 20px;

    .file_type_button {
      .icon {
        font-size: 20px;
        padding: 6px;
        width: 30px;
        height: 30px;
      }
    }

    .reader-list {
      .reader {
        width: 80%;
        text-align: center;
        font-size: 16px;
        border-radius: 5px;
        margin: 5px;
      }
    }

    .video_player {
      margin-bottom: 10px;
    }

    .audio_container {
      audio {
        width: 350px !important;
      }
    }

    .options_control {
      .option {
        padding: 5px 10px;
        font-size: 15px;
      }
    }

    .control_button {
      .icon {
        font-size: 20px;
      }

    }

    .change_surah_control {
      width: 90%;
      margin: 0 auto;

      .next_surah,
      .last_surah {
        font-size: 20px;
      }

      .surah_name {
        font-size: 20px;
        width: unset;
      }
    }

    .surah_list {
      .list_item {
        font-size: 20px;
        margin: 5px;
      }
    }
  }
}
