<div class="page_container">
  <div class="page_header">
      <div class="aiah_container">
        <div class="aiah">
          <p>{{aiehObj.aieh}}</p>
        </div>
        <p class="surah_name">سورة {{aiehObj.surahName}}</p>
        <p class="aiah_number">الاية {{aiehObj.aiehNumber}}</p>
      </div>
  </div>
	<div class="control_section">
			<button [routerLink]="['/quran_pages', lastReadPage]">
        <p>
          {{lastReadPage ? ' أكمل القراءة من الصفحة ' + lastReadPage: 'ابدأ القراءة '}}
          <fa-icon class="icon" [icon]="faBookOpenReader"></fa-icon>
        </p>
      </button>
      <fa-icon class="icon"
        [icon]="faHome"
        [title]="'الصفحة الرئيسية'"
        [routerLink]="['/']"
      ></fa-icon>
      <button [routerLink]="['/surah_listening',listiningData.readerId ,listiningData.surahId]">
        <p>
          {{firstListeningTime ? 'إبدأ الاستماع الأن' :'أكمل الاستماع من سورة' + " " + quranIndex[listiningData.surahId - 1].name }}
          <fa-icon class="icon" [icon]="faHeadphonesSimple"></fa-icon>
        </p>
      </button>
</div>
