@import '../../../styles.scss';

.page_container {
  height: 100vh;
  width: 100vh;
  box-sizing: border-box;

  .page_header {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;

    .aiah_container {
      position: relative;
      min-width: 750px;
      max-width: 80%;

      .aiah {
        font-size: 40px;
        color: $color4;
        font-weight: bold;
        text-align: center;
        line-height: 75px;
        border: solid 3px transparent;
        background-image: linear-gradient($color1, $color1), linear-gradient(to right, $gold1, $gold3);
        background-origin: border-box;
        background-clip: content-box, border-box;
        border-radius: 50px 50px 0 0;
        padding:  2px;

        p {
          padding: 10px 20px;
        }
      }

      .surah_name {
        color: $gold3;
        position: absolute;
        font-size: 25px;
        bottom: -45px;
        right: -51px;
        border: solid 1px $gold3;
        border-radius: 10px;
        padding: 10px 20px;
        z-index: 10;
        background: $color2;
      }

      .aiah_number {
        color: $gold1;
        position: absolute;
        font-size: 25px;
        bottom: -45px;
        left: -51px;
        border: solid 1px $gold1;
        border-radius: 10px;
        padding: 10px 20px;
        z-index: 10;
        background: $color2;
      }
    }
  }

  .control_section {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row-reverse;
    position: absolute;
    bottom: 20px;
    width: 100%;

    button {
      cursor: pointer;
      color: $color4;
      border-radius: 10px;
      font-size: 20px;
      width: 310px;
      font-weight: 700;
      border: solid 0.5px transparent;
      background-image: linear-gradient($color2, $color2), linear-gradient(to right, $gold1, $gold3);
      background-origin: border-box;
      background-clip: content-box, border-box;
      padding: 0.5px;

      .icon {
        color: $gold3;
        font-size: 20px;
        position: unset;
      }

      p {
        padding: 10px 20px;
        margin: 0;
      }

      &:hover {
        background-image: linear-gradient($color2, $color2), linear-gradient(to left, $gold1, $gold3);
      }
    }
  }

  .icon_home {
    cursor: pointer;
    color: $color4;
    font-size: 50px;
    position: absolute;
    top: 50px;
    right: 50px;


    &:hover {
      opacity: 80%;
    }
  }
}

// tablet
@media (max-width: 768px) {
  .page_container {
    height: 100%;

    .page_header {
      width: 60%;
      top: 45%;

      .aiah_container {

        .aiah {
          font-size: 35px;
          line-height: 55px;
        }

        .surah_name {
          font-size: 20px;
          bottom: -38px;
          right: -49px;
        }

        .aiah_number {
          font-size: 20px;
          bottom: -38px;
          left: -49px;
        }
      }
    }

    .control_section {
      flex-wrap: wrap;
      gap: 5px;
    }

    .icon_home {
      font-size: 35px;
      top: 25px;
      right: 25px;
    }
  }
}

// mobile
@media (max-width: 426px) {
  .page_container {
    height: 100%;

    .page_header {
      width: 80%;
      top: 40%;

      .aiah_container {

        .aiah {
          font-size: 22px;
          line-height: 35px;
        }

        .surah_name {
          font-size: 15px;
          bottom: -27px;
          right: -26px;
        }

        .aiah_number {
          font-size: 15px;
          bottom: -27px;
          left: -26px;
        }
      }
    }

    .control_section {
      gap: 10px;

      button {
        font-size: 18px;

        p {
          padding: 5px 10px;
        }

        .icon {
          font-size: 18px;
        }
      }
    }

    .icon_home {
      font-size: 40px;
      top: 35px;
      right: 35px;
    }
  }
}
