<div class="pages_container">
  <div (scroll)="updateCurrentPage()" class="page_container" *ngFor="let pageId of currentPages">
    <div class="image_container">
      <img
        [src]="'./assets/image/'+ pageId + '.gif'"
        alt=""
        [id]="'page-' + pageId"
        [class.hide]="currentPage != +pageId"
      >
      <fa-icon class="mark"
        *ngIf="+pageId == markId"
        [icon]="faBookmark"
      ></fa-icon>
    </div>
    <div class="button_list" *ngIf="pagesSurahEndArray[+pageId - 1].length > 0">
      <button *ngFor="let surahId of pagesSurahEndArray[+pageId - 1]" (click)="doneReading(surahId); deleteButton(+pageId - 1 ,surahId);">
      <p>{{'confirm_reading' | translate}} {{quranIndex[surahId - 1].name}}</p>
      </button>
    </div>
  </div>
</div>
