/* You can add global styles to this file, and also import other style files */
$color1: #1B1A1A;
$color2: #3A3939;
$color3: #464242;
$color4: #efefef;

$gold1: #fbf06c;
$gold2: #f8df41;
$gold3: #db9f14;


body {
  background-color: $color1;
  background-image: url('./assets/image/bg.png');
  margin: 0;
}

.over_layout {
  position: fixed;
  top: 0;
  left: 0;
  opacity: 50%;
  z-index: 90;
  background-color: $color2;
  width: 100%;
  height: 100%;
}
