<div class="surah-page-container">
  <fa-icon class="next_surah"
    *ngIf="surah.id < quranIndex.length - 1"
    [icon]="faAnglesLeft"
    [title]="quranIndex[surah.id].name"
    [routerLink]="['/surah', surah.id + 1]"
  ></fa-icon>
  <fa-icon class="last_surah"
    *ngIf="surah.id > 1"
    [icon]="faAnglesRight"
    [title]="quranIndex[surah.id - 2].name"
    [routerLink]="['/surah', surah.id - 1]"
  ></fa-icon>
  <div class="header">
    <div class="surah-plant"
      style="
        background: radial-gradient(circle at center, rgb({{surah.light * 5/2}},{{surah.light * 5/2}},{{surah.light * 5/2}}) 0%, black 80%);
        box-shadow: 0 0 {{surah.light < 40 ? 0 : surah.light / 5}}px 0px white;
      "
    >
      <div class="surah-name">{{surah.name}}</div>
    </div>
    <div class="surah-info">
      <span class="info">سورة {{surah.type}}</span>
      <span class="info">عدد اياتها: {{surah.aiahNumber}}</span>
      <span class="info">{{surah.parts.length > 1 ? 'الاجزاء:' : 'الجزء:'}} {{surah.parts.join("-")}}</span>
    </div>
    <div class="memorizing-interpretation">
      <div class="container">
        <fa-icon class="icon"
          [icon]="faBrain"
          [ngClass]="{'active': surah.memorize}"
          (click)="toggleSurahMemorize()"
        ></fa-icon>
        <p class="text" [ngClass]="{'active': surah.memorize}">الحفظ</p>
      </div>
      <div class="container">
        <fa-icon class="icon"
          [icon]="faBookOpenReader"
          [ngClass]="{'active': surah.interpretation}"
          (click)="  toggleSurahInterpretation()"
        ></fa-icon>
        <p class="text" [ngClass]="{'active': surah.interpretation}">التدبر و التفسير</p>
      </div>
    </div>
  </div>
  <div class="memorizing-interpretation_section">
    <button (click)="toggleSurahMemorize()">
      {{surah.memorize ? 'حذف السورة من قائمة السور التي تحفظها' : 'أضف السورة لقائمة السور التي تحفظها'}}
    </button>
    <button (click)="toggleSurahInterpretation()">
      {{surah.interpretation ? 'حذف السورة من قائمة السور التي إستمعت لتفسيرها' : 'أضف السورة لقائمة السور التي إستمعت لتفسيرها'}}
    </button>
  </div>
  <p class="subjects_title" *ngIf="surah.subjects.length > 0">:مواضيع السورة</p>
  <div class="subjects" *ngIf="surah.subjects.length > 0">
    <div class="subject" *ngFor="let subject of surah.subjects">
      <div class="subject_text">{{subject.subject}}</div>
      <div class="surah_number">{{subject.to}}</div>
    </div>
  </div>
  <div class="reading_section">
    <div class="title">
      <p class="reading_title">إقرأ الان</p>
      <p class="reading_title" *ngIf="surah.lastReadingTime && getDaysOfLastReadTime()">:</p>
      <p class="last_reading_time" *ngIf="surah.lastReadingTime && getDaysOfLastReadTime()">لم تقرأ منذ {{getDaysOfLastReadTime()}} أيام</p>
    </div>
    <div class="buttons">
      <button class="go_to_reading_page" [routerLink]="['/surah_read', surah.id]" >أقرأ ألان</button>
      <button class="update_read_time" (click)="doneRead()" >تمت القراءة</button>
    </div>
  </div>
  <div class="listening_serction">
    <div class="title">
      <p class="listening_title">إستمع الان</p>
      <p class="listening_title" *ngIf="surah.lastListeningTime && getDaysOfLastListeningTime()">:</p>
      <p class="last_listening_time" *ngIf="surah.lastListeningTime && getDaysOfLastListeningTime()">لم تقرأ منذ {{getDaysOfLastListeningTime()}} أيام</p>
    </div>
    <div class="buttons">
      <button class="go_to_listening_page" [routerLink]="['/surah_listening', readerId ,surah.id]" >إستمع ألان</button>
      <button class="update_listening_time" (click)="doneListening()" >تم الإستماع</button>
    </div>
  </div>
</div>
