<div class="surah-page-container">
  <div class="header">
    <div class="surah-plant"
      style="
        background: radial-gradient(circle at center, rgb({{surah.light * 5/2}},{{surah.light * 5/2}},{{surah.light * 5/2}}) 0%, black 80%);
        box-shadow: 0 0 {{surah.light < 40 ? 0 : surah.light / 5}}px 0px white;
      "
    >
      <div class="surah-name">{{surah.name}}</div>
      <fa-icon class="next_surah"
        *ngIf="surah.id < quranIndex.length - 1"
        [icon]="faAnglesLeft"
        [title]="quranIndex[surah.id].name"
        [routerLink]="['/surah', surah.id + 1]"
      ></fa-icon>
      <fa-icon class="last_surah"
        *ngIf="surah.id > 1"
        [icon]="faAnglesRight"
        [title]="quranIndex[surah.id - 2].name"
        [routerLink]="['/surah', surah.id - 1]"
      ></fa-icon>
    </div>
    <div class="surah-info">
      <div class="info">
        <p>سورة {{surah.type}}</p>
      </div>
      <div class="info">
        <p>عدد اياتها: {{surah.aiahNumber}}</p>
      </div>
      <div class="info">
        <p>{{surah.parts.length > 1 ? 'الاجزاء:' : 'الجزء:'}} {{surah.parts.join("-")}}</p>
      </div>
    </div>
    <div class="memorizing-interpretation">
      <div class="container">
        <fa-icon class="icon"
          [icon]="faBrain"
          [ngClass]="{'active': surah.memorize}"
          (click)="toggleSurahMemorize()"
        ></fa-icon>
        <p class="text" [ngClass]="{'active': surah.memorize}">الحفظ</p>
      </div>
      <div class="container">
        <fa-icon class="icon"
          [icon]="faFeatherPointed"
          [ngClass]="{'active': surah.interpretation}"
          (click)="  toggleSurahInterpretation()"
        ></fa-icon>
        <p class="text" [ngClass]="{'active': surah.interpretation}">التدبر و التفسير</p>
      </div>
    </div>
  </div>
  <div class="memorizing-interpretation_section">
    <button (click)="toggleSurahMemorize()">
      <p>{{surah.memorize ? 'حذف من قائمة السور التي تحفظها' : 'أضف لقائمة السور التي تحفظها'}}</p>
    </button>
    <button (click)="toggleSurahInterpretation()">
      <p>{{surah.interpretation ? 'حذف من قائمة السور التي إستمعت لتفسيرها' : 'أضف لقائمة السور التي إستمعت لتفسيرها'}}</p>
    </button>
  </div>
  <p class="subjects_title" *ngIf="surah.subjects.length > 0">:مواضيع السورة</p>
  <div class="subjects" *ngIf="surah.subjects.length > 0">
    <div class="subject" *ngFor="let subject of surah.subjects">
      <div class="subject_text"><p>{{subject.subject}}</p></div>
      <div class="surah_number">{{subject.to}}</div>
    </div>
  </div>
  <div class="last_time_section" *ngIf="surah.lastReadingTime || surah.lastListeningTime">
    <p style="background-color: rgb({{surah.color.r}},{{surah.color.g}},0);">
      <span class="last_reading_time" *ngIf="surah.lastReadingTime">
        {{getDaysOfLastReadTime() != 0 ? 'لم تقرأ هذه السورة منذ' + ' ' + getDaysOfLastReadTime() +' أيام' : 'تمت القراءة اليوم'}}
      </span>
      <span *ngIf="surah.lastReadingTime && surah.lastListeningTime" >/</span>
      <span class="last_listening_time" *ngIf="surah.lastListeningTime ">
        {{getDaysOfLastListeningTime() != 0 ? 'لم تستمع لهذه السورة منذ' + ' ' + getDaysOfLastListeningTime() +' أيام' : 'تمت الإستماع اليوم'}}
      </span>
    </p>
  </div>
  <div class="card_section">
    <div class="card">
      <div class="header">
        <img src="/assets/image/read.jpeg" alt="read now" [routerLink]="['/quran_pages', getFloor(surah.startPage)]">
      </div>
      <div class="body">
        <p [routerLink]="['/quran_pages', getFloor(surah.startPage)]" >إقرأ الأن</p>
        <button (click)="doneRead()">تمت القراءة</button>
      </div>
    </div>
    <div class="card">
      <div class="header">
        <img src="/assets/image/listen.jpg" alt="listen now" [routerLink]="['/surah_listening', readerId ,surah.id]">
      </div>
      <div class="body">
        <p [routerLink]="['/surah_listening', readerId ,surah.id]">إستمع الأن</p>
        <button (click)="doneListening()">تم الإستماع</button>
      </div>
    </div>
  </div>
</div>
<div class="gold_bg"></div>
<div class="gold_bg_2"></div>

