@import '../../styles.scss';

.surah-page-container {
  position: relative;
  min-height: 100vh;
  width: 100%;
  padding: 20px 70px;
  box-sizing: border-box;

  .next_surah,
  .last_surah {
    font-size: 30px;
    cursor: pointer;
    color: $color4;
    top: 73px;
    position: absolute;

    &:hover {
      opacity: 70%;
    }
  }

  .next_surah {
    top: 90%;
    left: -15px;
  }

  .last_surah {
    top: 90%;
    right: -15px;
  }

  .header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: center;

    .surah-plant {
      position: relative;
      width: 150px;
      height: 150px;
      border-radius: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      border: 3px solid $gold3;
      color: $color4;
      font-weight: bold;
      font-size: 35px;
      margin-bottom: 20px;
    }

    .surah-info {
      display: flex;
      justify-content: right;
      flex-direction: row-reverse;
      flex-wrap: wrap;

      .info {
        font-size: 20px;
        color: $color4;
        border-radius: 5px;
        margin: 20px;
        background-color: $color2;
        border: solid 0.5px transparent;
        background-image: linear-gradient($color1, $color1), linear-gradient(to right, $gold1, $gold3);
        background-origin: border-box;
        background-clip: content-box, border-box;
        padding: 0.5px;

        p {
          margin: 0;
          padding: 5px 10px;
        }
      }
    }
  }

  .last_time_section {
    display: flex;
    justify-content: end;

    p {
      color: $color1;
      padding: 10px 20px;
      width: fit-content;
      font-size: 20px;
      text-align: right;
      border-radius: 5px;
      font-weight: bold;

      span:not(:first-child) {
        margin: 0 5px 0 0;
      }
    }
  }


  .card_section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: center;
    gap: 20px;
    margin-top: 20px;

    .card {
      border: 1px solid $color4;
      border-radius: 20px;
      overflow: hidden;
      border: solid 0.5px transparent;
      background-image: linear-gradient($color3, $color3), linear-gradient(290deg, $gold3, $gold1);
      background-origin: border-box;
      background-clip: content-box, border-box;
      padding: 0.5px;

      .header {
        width: 200px;
        height: 200px;
        overflow: hidden;

        img {
          width: 200px;
          height: 200px;
          transition: all 0.5s;
          cursor: pointer;

          &:hover {
            transform: rotate(7deg) scale(1.2);
          }
        }
      }
      .body {
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: right;
        align-items: end;
        background-color: $color1;

        p {
          cursor: pointer;
          margin: 0 0 10px;
          color: $color4;
          text-align: right;
          font-size: 20px;
          font-weight: bold;

          &:hover {
            opacity: 80%;
          }
        }

        button {
          cursor: pointer;
          color: $color4;
          background-color: $color1;
          border: 1px solid $color4;
          padding: 5px 10px;
          font-size: 20px;
          border-radius: 5px;

          &:hover {
            opacity: 80%;
          }
        }
      }
    }
  }
}

.gold_bg {
  background-image: url('../../assets/image/goldBG.png');
  width: 223px;
  height: 244px;
  position: fixed;
  left: 10px;
  top: 52%;
  background-size: cover;
  transform: rotate(33deg);
  z-index: -1;
}

.gold_bg_2 {
  background-image: url('../../assets/image/goldBG2.png');
  width: 223px;
  height: 244px;
  position: fixed;
  left: 200px;
  top: 8%;
  background-size: cover;
  transform: rotate(49deg);
  z-index: -1;
}

// tablet
@media (max-width: 768px) {
  .surah-page-container {
    padding: 20px 60px;

    .next_surah,
    .last_surah {
      font-size: 25px;
      top: 73px;
    }

    .header {
      .surah-plant {
        width: 120px;
        height: 120px;
        min-width: 120px;
        min-height: 120px;
      }

      .surah-info {
        justify-content: center;

        .info {
          margin: 5px;
          font-size: 15px;
          background-image: linear-gradient($color1, $color1), linear-gradient( 130deg, $color1, $gold3);
        }
      }
    }

    .last_time_section {
      p {
        font-size: 14px;
        padding: 5px;
      }
    }


    .card_section {
      .card {
        .body {
          font-size: 16px;
        }
      }
    }
  }
}

// mobile
@media (max-width: 426px) {
  .surah-page-container {
    padding: 20px 20px;
    margin-bottom: 50px;

    .header {
      flex-wrap: wrap;
      justify-content: right;

      .surah-plant {
        width: 80px;
        height: 80px;
        min-width: 80px;
        min-height: 80px;
        font-size: 25px;
      }

      .surah-info {
        order: 2;
        flex-wrap: nowrap;
        justify-content: space-around;

        .info {
          font-size: 13px;
          margin: 5px;
          font-size: 13px;
          text-align: right;
        }
      }
    }

    .last_time_section {
      padding: 5px 10px;
      font-size: 15px;
    }


    .card_section {
      margin-top: 10px;
      flex-wrap: wrap;

      .card {
        .header {
          width: 120px;
          height: 120px;

          img {
            width: 120px;
            height: 120px;
          }
        }

        .body {
          padding: 10px;
          font-size: 16px;
        }
      }
    }
  }

  .gold_bg {

  }

  .gold_bg_2 {
    width: 223px;
    height: 244px;
    left: 30px;
    top: 8%;
  }
}
